
header {
    background-color: #6CAEB2;
    font-size: 1.3em;
    text-align: center;
}
#logo{
    display: inline-block;
    color: #ffffff;
    font-family: 'Germania One';
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 30px;
}
#logo.logoblack{
    color: black;
}

header a {
    text-decoration: none;
    color: #ffffff;
}
header span a {
    margin: 30px;
}


html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;



}
html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
  }

.wrapper{
    min-height: 100%;
    margin: 0 auto;
    width: 1268px;
}
#headerwrapper{

    margin: 0 auto;

    width: 1268px;


}
section a {
    margin: 3px;
}

.nav {
    /* background-color: #ffffff; */

    /* background-color: transparent; */
    /* min-height: 100%; */

    -webkit-box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);
    -moz-box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);
    box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);
    /* position: sticky; */
}
.main {
    background-color: #ffffff;


    min-height: 75%;
    /* background: #f9f9f9; */
    margin-bottom: 100px;
    -webkit-box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);
    -moz-box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);
    box-shadow: 10px 10px 33px -21px rgba(179,179,179,0.48);

}
nav ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
} 
nav ul li a{
    text-decoration: none;
    color: #B28464;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(201,201,201, 1);
}
nav ul li{
    padding: 5px;
    margin: 2px;
}
nav ul li:hover{
  
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: #FFD3B4;
    padding: 5px;
    margin: 2px;
}

.active{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background-color: #FFD3B4;
    padding: 5px;
    margin: 2px;
}
footer{

    width: 100%;
    padding: 1em;


    background-color: #6CAEB2;
    text-align: center;
    min-height: 100PX;
}
p{
    font-weight: 300;
}
#potato{color: #f9f9f9;}
.cheaders{
    text-align: center;
    margin-bottom: 2em;
}
input{
    font-weight: 400;
    margin: 0.5em;
}
label{
    display: inline-block;
    margin: 1em;
}
.pthumbnail{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}
#wrapper.login{
    margin: auto;
    align-self: center;
    padding: 0 200px;

}
.footerRow{
display: inline;

}
.WIcon{
  /* color: #FFD3B4; */
}
.maincontant{
align-content: center;
}
main{
  min-height: 125%;
}  
.username {
    float: right;
    margin-top: 0;
    background-color: #9999ff;
    padding:2px;
}
#adminCode {
    display: none;
}
.err p {
    background-color: #ffb2b2;
}
.success {
    background-color: #4cff4c;
}
.notes {
    background-color:#FFDEAD;
    padding:5px;
    margin: 5px;
    border-radius: 4px;
}
.content {
    overflow-y: scroll;
    height: 250px;
}
.table, table td{
    border: 3px solid #e5e5ff;
}
.table tr:nth-child(even) {
    background-color: #eee;
}
.table tr:nth-child(odd) {
    background-color: #ccc;
}
.href {
    text-decoration: none;
}

