 <p class="username">Hello {{username}}</p>
 <main>
        <br />
        <div>
            <span style="font-size: 28px; margin-left: 490px; color: grey"> Update or Delete Profile </span>
            <span style="font-size: 20px; color: grey; margin-left: 310px; font-style: italic"> Admin </span>
        </div>
        <br />
        <span style="font-size: 20px; margin-left: 880px; color: grey"> Search Apt#: </span>
        <textarea style="width: 150px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <span id="profilebutton">
            <input type="button" value="Search">
        </span>
        <span style="font-size: 20px; margin-left: 228px; color: grey"> Name: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 270px; color: grey"> Address: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 300px; color: grey"> City: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 295px; color: grey"> State: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />

        <span style="font-size: 20px; margin-left: 260px; color: grey"> Zip Code: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span id="profileUpdate">
            <input type="button" ; onclick="alert('Profile has been successfully updated.')" ; value="Update">
        </span>
        <span style="font-size: 20px; margin-left: 173px; color: grey"> Credit Score: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span id="profileDelete">
            <input type="button" ; onclick="alert('Profile has been successfully deleted.')" value="Delete">
        </span>
        <span style="font-size: 20px; margin-left: 233px; color: grey"> Apt #: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 253px; color: grey"> Account #: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 260px; color: grey"> Apt Type: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br /> <br />
        <span style="font-size: 20px; margin-left: 280px; color: grey"> Notice: </span>
        <textarea style="width: 370px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
    </main>
    <a href="/profiles/profile">Back to Profile</a>