<p class="username">Hello  {{username}}</p>
<section>
    <h1 class="cheaders"> Notifications </h1>
    <ul>
      <li><h3>Receiving Room</h3></li>
      <p> You have new packege from FedEx received on Sep 9th </p>
      <hr>
    </ul>
</section>