 <br/>
        <h2 style="color: grey; font-family:'Roboto'; text-align: center"> Make a payment </h2>

        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 1.0em"> All fields marked with <span style="color:red"> * </span> are required.</p>
        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 2.0em"><input type="checkbox"> Pay with an existing credit card </p>
        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 5.0em"> Select a card: </p>
        <p style="color: grey; font-family:'Roboto'; font-size: 18px; margin-left: 140px;"><input type="checkbox"> ending in 1234 (exp 02/2018) </p>
        <p style="color: grey; font-family:'Roboto'; font-size: 18px; margin-left: 140px;"><input type="checkbox"> ending in 5678 (exp 09/2018) </p>
        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 2.0em"><input type="checkbox"> Add a new credit card: </p>
        <span style="font-size: 20px; margin-left: 100px; color: grey"> <span style="color: red"> * </span> Card Number: </span>
        <textarea style="width: 300px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br/>
        <span style="font-size: 20px; margin-left: 100px; color: grey"> <span style="color: red"> * </span> Expiration Date (MM/YY): </span>
        <textarea style="width: 198px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br/>
        <span style="font-size: 20px; margin-left: 100px; color: grey"> <span style="color: red"> * </span> CVC code (3-digits): </span>
        <textarea style="width: 98px; height: 20px; margin-left: 10px; background-color: #E5E5E5"></textarea>
        <br/>
        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 4.8em"><input type="checkbox"> Save to account </p>
        <br />
        <p style="color: grey; font-family:'Roboto'; font-size: 20px; text-indent: 2.0em"><input type="checkbox"> I have read and accepted the <a href=""> terms & conditions</a>.<span style="color: red"> * </span> </p>
        <br/> <br/>
        <span id="payNowbutton">
            <input type="button" ; onclick="alert('Payment has been successfully made.')"; value="Pay Now">
        </span>
        <br/> <br/>