<p class="username">Hello {{username}}</p>
<h1 class="cheaders"> Welcome Noel!</h1> 
<img class="pthumbnail" src="/images/profile-42914_960_720.png" alt="">
<h3>Fullname: Noel Gallagher <span id="potato">aka potato</span> </h3>
<h3> Address: 4500 North Clark Ave. Chicago, IL 60640</h3>
<h3> Unit #401S </h3>
<h3> Two Bedroom </h3>
<a href="/profiles/updateProfile">Update Profile</a>
<a href="/profiles/deleteProfile">Delete Profile</a>