<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<h1>Password Reset</h1>

	<form class="form">
	  <ul>
	    <label for="Username">Username</label>
	    <li>
	        <input type="text" name="username" class="field-style field-split" placeholder="username" required/>
	    </li>
	    <label for="Newpassword">New Password</label>
	    <li>
	        <input type="text" name="newpassword" class="field-style field-split" placeholder="newpassword" required/>
	    </li>
	    <label for="Confirmpassword">Confirm Password</label>
	    <li>
	        <input type="text" name="confirmpassword" class="field-style field-split" placeholder="confirmpassword" required/>
	    </li>
	    <li>
	        <input type="submit" value="Reset" />
	    </li>
      </ul>
	</form>
	<a href="/users/login">Back</a>