<p class="username">Hello {{username}}</p>

<section>
    <h1 class="cheaders"> Announcements </h1>
    <ul>
        <li><h3> Normal bike storage space has been temporarily shifted. </h3></li>
            <p> Starting from August 20, 2017 to Septembter 15, 2017, bike storage space is on maintenace. Alternative space is available on the first floor. Please
            contact the apartment office to request a spot.</p>
            <hr>
       <li> <h3> Laundry service supplier has been changed. </h3></li>
            <p> We have upgraded our laundry system with a more efficient payment system. Starting September 20, 2017, laundry machines will not accept any cash. 
               A credit card or pre-paid laundry card can be used to make payments. Pre-paid cards can be purchased at the entrance of the laundry room.
               </p>
               <hr>
            <li><h3> Upper-Level parking maintenance</h3></li>
            <p> The fifth floor parking will be under maintenance starting October 10, 2017 to October 30, 2017. Cars will not be allowed to park. Alternative 
            parking is being arranged and residents will soon be notified of the alternative parking space.</p>
    </ul>
</section>
<a href="/notices/addNotice">Add Announcement </a>
<a href="/notices/updateNotice">Update Announcement</a>
<a href="/notices/deleteNotice">Delete Announcement</a>
