<p class="username">Hello {{username}}</p>
<main >

        <br /> <br/>
        <div>
            <span style="font-size: 28px; margin-left: 480px; color: grey"> Delete Announcements </span>
            <span style="font-size: 20px; color: grey; margin-left: 300px; font-style: italic"> Admin </span>
        </div>
        <br /> <br/>
        <span id="announcements">
            <p style="font-size: large"> Select at least one announcement to delete: </p>
            <br /> 
            <input type="checkbox"> Normal bike storage space has been temporarily shifted. <br />
            <p>
                Starting from August 20, 2017 to Septembter 15, 2017, bike storage space is on maintenace. Alternative space is available on the first floor. Please
                contact the apartment office to request a spot.
            </p>
            <input type="checkbox"> Laundry service supplier has been changed. <br />
            <p>
                We have upgraded our laundry system with a more efficient payment system. Starting September 20, 2017, laundry machines will not accept any cash.
                A credit card or pre-paid laundry card can be used to make payments. Pre-paid cards can be purchased at the entrance of the laundry room.
            </p>

            <input type="checkbox"> Upper-Level parking maintenance<br />
            <p>
                The fifth floor parking will be under maintenance starting October 10, 2017 to October 30, 2017. Cars will not be allowed to park. Alternative
                parking is being arranged and residents will soon be notified of the alternative parking space.
            </p>
            <br />
           
            <span id="buttonPositionDelete">
                <input type="button" ; onclick="alert('Announcement(s) has been successfully deleted.')" ; value="Delete" ;>
            </span>
            <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        </span>
        <a href="/notices/announcement">Back</a>
    </main>