<p class="username">Hello {{username}}</p>
<main >
        <br/>
        <div>
            <span style="font-size: 28px; margin-left: 480px; color: grey"> Update Service Request </span>
            <span style="font-size: 20px; color: grey; margin-left: 300px; font-style: italic"> Admin </span>
        </div>
       
        <br /><br/>
        <span id="RequestList">
            <a href="Admin Service Request.html"> Request List </a>        
        </span>

        <span id="servicerequest">
            <p style="text-indent: 0.25em"> Please select the applicable categories: </p>
            <span style="margin-left: 20px"><input type="checkbox"> Gym</span>
            <br />
            <span style="margin-left: 20px"><input type="checkbox"> Maintenance </span>
            <br />
            <span style="margin-left: 20px"><input type="checkbox"> Cleaning </span>
            <br />
            <span style="margin-left: 20px"><input type="checkbox"> Postal delivery </span>
            <br />

            <h3 style="text-indent: 0.25em"> Message </h3>
            <p style="font-size: medium">
                Please provide a detailed description of the updates to be made to the request. If more than one category is selected, then please 
                label each description with the associated category for clarity.
            </p>
            <textarea></textarea>
            <br />
            <span id="buttonPosition">
                <input type="button" ; onclick="alert('Request has been successfully updated.')" ; value="Update" ;>
            </span>
            <br /><br /><br /><br /><br /><br />
            <a href="/requests/servicerequest">Back</a>
    </main>