<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<h2 class="cheaders"> Contact us today to learn more about <span class="logoblack" id="logo"> GREENLAKE Apartments</span> </h2>
<form class="form" action="/contact" method="post">
    <ul>
    <label for="Name">Name</label>
    <li>
        <input type="text" name="name" class="field-style field-split" placeholder="Name" />
    </li>
     <label for="Email">Email</label>
    <li>
        <input type="email" name="email" class="field-style field-split" placeholder="Email" />
    </li>
    <label for="Phone">Phone</label>
    <li>
        <input type="text" name="phone" class="field-style field-split" placeholder="Phone" />
    </li>
    <label for="Message">Message</label>
    <li>
        <textarea name="message" class="field-style" placeholder="Message" rows="30"></textarea>
    </li>
    <li>
        <input type="submit" value="Send" />
    </li>
    </ul>
</form>