<h1 class="cheaders"> Frequently Asked Questions </h1>
<ul>
    <li><h3> How can I pay my rent?</h3></li>
    <p> Online payments are fast and secure. On the home page, click on the "Pay now" link to be directed to the payment page. 
        Any credit card or check is acceptable. If payments are preferred to be made in cash, then please visit the apartment office at least one week in advance of your rental due date to make the payment. </p>
    <hr>
        <li><h3> How can I request maintenance on my apartment? </h3></li>
        <p> Requests can be made via the "Service Request" link on left side of the page. Simply select the category of the problem, type a detailed message, and submit the form. A request can be updated or deleted via the links provided in the page. Your request will be processed as soon as possible.</p>
    <hr>
        <li><h3> Is this a pet friendly community? </h3></li>
        <p>Yes. All kinds of pets are welcome. There is a dog park in the community to serve your furry friends. </p>
</ul>
